<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="far fa-comments"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Hey Yo <sup>!</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-user-circle"></i>
      <span>My Profile</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Quick Navigation
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" title="Streams">
    <a class="nav-link collapsed" [routerLink]="['streams']">
      <span class=" d-flex justify-content-between">
        <span>
          <i class="fas fa-fw fa-rss"></i>
          Streams
        </span>
        <span class="badge badge-success">{{user?.posts.length ? user?.posts.length : 0 }}</span>
      </span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" title="People">
    <a class="nav-link collapsed" [routerLink]="['people']">
      <span class=" d-flex justify-content-between">
        <span>
          <i class="fas fa-fw fa-users"></i>
          People
        </span>
        <span class="badge badge-success">{{user?.people ? user?.people : 0 }}</span>
      </span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" title="Following">
    <a class="nav-link collapsed" [routerLink]="['following']">
      <span class=" d-flex justify-content-between">
        <span>
          <i class="fas fa-fw fa-users"></i>
          Following
        </span>
        <span class="badge badge-success">{{user?.following.length ? user?.following.length : 0 }}</span>
      </span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" title="My Followers">
    <a class="nav-link collapsed" [routerLink]="['followers']">
      <span class=" d-flex justify-content-between">
        <span>
          <i class="fas fa-fw fa-users"></i>
          Followers
        </span>
        <span class="badge badge-success">{{user?.followers.length ? user?.followers.length : 0 }}</span>
      </span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" title="My Photos">
    <a class="nav-link collapsed active" [routerLink]="['photos']">
      <span class=" d-flex justify-content-between">
        <span>
          <i class="fa fa-fw fa-camera-retro"></i>
          Photos
        </span>
        <span class="badge badge-success">{{user?.photos ? user?.photos : 0 }}</span>
      </span>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" title="My Notifications">
    <a class="nav-link collapsed active" [routerLink]="['notifications']">
      <span class=" d-flex justify-content-between">
        <span>
          <i class="fas fa-fw fa-bell"></i>
          Notifications
        </span>
        <span class="badge badge-success">{{user?.notifications.length ? user?.notifications.length : 0 }}</span>
      </span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline" title="Toggle Sidebar">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

  <li class="nav-item" title="Logout">
    <a class="nav-link collapsed" (click)="onLogoutButtonClicked()">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Logout</span>
    </a>
  </li>
  <li class="nav-item" title="Download Mobile App">
    <a class="nav-link collapsed" (click)="scanBarcode()">
      <i class="fas fa-fw fa-mobile"></i>
      <span>Download Mobile App</span>
    </a>
  </li>
</ul>
<!-- End of Sidebar -->
